.navbar {
    display: flex;
    position: fixed;
    padding-left: 6rem;
    padding-right: 6rem;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-bkg);
    transition: padding 0.22s ease-in-out;
    z-index: 1000;
}

@media screen and (max-width: 1199px) {
    .navbar {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 756px) {
    .navbar {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
}

.navbarPageTop {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.navbarPageTop img {
    opacity: 0 !important;
}

:not(.navbarHome).navbarPageTop img {
    opacity: 1 !important;
}

.navigation {
    display: flex;
    width: 100%;
}

.navigation img {
    height: 1.6rem;
    margin: 0.7rem 0;
    opacity: 0.8;
    cursor: pointer;

    transition: opacity 0.22s ease-in-out;
}

.navigation ul {
    display: flex;
    padding: 0;
    margin: 0 0 0 auto;
}

.navigation ul li {
    display: flex;
    flex: 1;
    list-style-type: none;
}

.navigation ul li a {
    padding: 1rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
}


.footer {
    display: flex;
    justify-content: center;
    opacity: 0.4;
    margin: 2rem 0;
    font-size: 0.85rem;
}