.header {
    height: 100vh;
    padding: 50vh 6rem 0;
}

.title {
    font-weight: 400;
    margin: 0;
    line-height: 1.15;
    font-size: 4.2rem;
}

.subTitle {
    font-weight: 300;
    font-size: 2.6rem;
}

.location {
    font-weight: 300;
    margin-top: 3.6rem;
    font-size: 1.1rem;
    opacity: 0.8;
}

.flagCh {
    display: inline-flex;
    width: .8em;
    height: .8em;
}


@media screen and (max-width: 1099px) {
    .header {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .title {
        font-size: 3.2rem;
    }

    .subTitle {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 769px) {
    .header {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .title {
        font-size: 2.6rem;
    }

    .subTitle {
        font-size: 2rem;
    }

    .location {
        font-size: 1rem;
    }
}

.description {
    font-size: 1.1rem;
    text-align: center;
}

.description p {
    margin-bottom: 1.6rem;
}

.contentSplit {
    max-width: calc(1000px - 6rem);
    border-width: 1px 0 0;
    opacity: 0.6;
}

@media screen and (max-width: 1099px) {
    .contentSplit {
        max-width: calc(80vw - 6rem);
    }
}

.technologies {
    text-align: center;
}

.technologies p {
    margin-bottom: 1.5rem;
}

.technologies h3 {
    font-size: 1.1rem;
    font-weight: normal;
    margin: 2.2rem auto 0.6rem;
}

.technologiesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact {
    font-size: 1.1rem;
    text-align: center;
}

.contactLinks {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.contactLinks a {
    margin: 0.5rem;
    padding: 0.5rem;
    opacity: 0.9;
    transform: scale(0.95);
    transition: transform 0.11s ease-in-out, opacity 0.11s ease-in-out;
}

.contactLinks a:hover {
    opacity: 1;
    transform: scale(1);
}