.spinBorder,
.spinBorderInner {
    position: relative;
    overflow: hidden;
}

.spinBorderInner {
    height: 100%;
}

.spinBorder::before,
.spinBorder::after,
.spinBorderInner::before,
.spinBorderInner::after {
    content: "";
    position: absolute;
    z-index: 10;
    background-color: var(--color-borders);
    transition: transform var(--transition-speed) ease-in-out;
}

/* Horizontal bars */

.spinBorder::before,
.spinBorder::after {
    width: 100%;
    height: 1px;
}

.spinBorder::before {
    top: 0;
    left: 0;

    transform: translate3d(-100%, 0, 0);
}

.spinBorder::after {
    bottom: 0;
    right: 0;

    transform: translate3d(100%, 0, 0);
}

.spinBorder:hover::before,
.spinBorder:hover::after {
    transform: translate3d(0, 0, 0);
}

/* Vertical bars */

.spinBorderInner::before,
.spinBorderInner::after {
    width: 1px;
    height: 100%;
}

.spinBorderInner::before {
    top: 0;
    left: 0;

    transform: translate3d(0, -100%, 0);
}

.spinBorderInner::after {
    bottom: 0;
    right: 0;

    transform: translate3d(0, 100%, 0);
}

.spinBorderInner:hover::before,
.spinBorderInner:hover::after {
    transform: translate3d(0, 0, 0);
}